body {
font-family: 'Oswald', sans-serif;
font-weight: 500;
}
header {
  color: #ffffff;
background-color: #6003c3;
font-size: 3rem;
padding: 2%;
text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

p 
{
color: #6003c3;
font-size: 1.5rem;
}

.instructions {
margin: 2rem;
}

.number {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
font-size: 10rem;
}

.button {
  width: 100%;
margin-left: 5%;
margin-right: 5%;
border: solid 0.75rem #6003c3;
border-radius: 0.5rem;
  box-shadow:20px 20px 10px #cccccc;  



}
